.song-container {
    background: bisque;
    width: 100%;
    height: 100px;
    margin: 5px;
    display: flex;
    flex-direction: row;
}

.arrow-container {
    margin: 10px;
    background: steelblue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.track-container {
    background: coral;
    flex-grow: 1;
}